@layer tokens {
    :root {
        --bg-primary: var(--blue-700);
        --bg-newsletter: var(--white);
        --fc-text: var(--blue-800);
        --fc-error-text: var(--red);
        --bg-border: var(--grey);
        --bg-error-border: var(--red);
        --bg-button: var(--blue-800);
        --bg-email-input-border: var(--grey);
        --bg-button-hover: linear-gradient(to right, var(--gradient-4), var(--red));
    }
}