@layer components {
  .newsletter {
    background-color: var(--bg-newsletter);
    max-inline-size: 100%;
  }

  .newsletter-content {
    flex: 1;
  }

  .newsletter-image {
    flex: 1;
  }

  .newsletter-image picture, .newsletter-image img {
    block-size: auto;
    inline-size: 100%;
  }

  .newsletter-title {
    font-size: var(--fs-text-title);
    font-weight: var(--fw-title);
    line-height: var(--lh-title);
  }

  .newsletter-information {
    font-size: var(--fs-text-body);
    font-weight: var(--fw-body);
    line-height: var(--lh-body);
  }

  .feature-list li {
    display: flex;
    align-items: start;
    gap: 1rem;
  }

  .feature-list li::before {
    content: "";
    inline-size: calc( 21 / var(--base) * 1rem);
    block-size: calc( 21 / var(--base) * 1rem);

    flex-shrink: 0;

    background: url("/assets/images/icon-list.svg") no-repeat center;
    background-size: contain;
  }

  @media (min-width: 48em){
    .newsletter {
      max-inline-size: calc( 608 / var(--base) * 1rem);
      min-block-size: auto;
    }

  }

  @media (min-width: 64em){
    .newsletter {
      max-inline-size: calc( 904 / var(--base) * 1rem);
      min-block-size: auto;
    }
  }
}
