@layer components {
    .success-message {
        display: flex;
        flex-direction: column;
        background-color: var(--bg-newsletter);
        max-inline-size: 100%;
        min-block-size: 100vh;
    }

    .success-title {
        font-size: var(--fs-text-title);
        line-height: var(--lh-title);
        max-inline-size: 12ch;
    }

    .success-email {
        font-weight: var(--fw-title);
    }


    @media(min-width: 48em){
        .success-message {
            max-inline-size: calc( 504 / var(--base) * 1rem);;
            min-block-size: auto;
        }
    }
}