@layer utilities {
    .box {
        padding-inline: var(--padding-inline-newsletter-content);
        border-radius: 0;
    }

    .box-sm {
        padding-inline: var(--padding-inline-success);
        padding-block: calc(149 / var(--base) * 1rem) calc(70 / var(--base) * 1rem);
    }

    .box-lg {
        padding-inline: var(--padding-inline-newsletter);
        padding-block: var(--padding-block-newsletter);
    }

    @media (min-width: 48em){
        .box {
            padding-block: 0;
        }

        .box-sm {
            padding: var(--padding-success);
            border-radius: calc(36 / var(--base) * 1rem);
        }

        .box-lg {
            padding-inline: var(--padding-inline-newsletter);
            padding-block: var(--padding-block-newsletter);
            border-radius: calc(36 / var(--base) * 1rem);
        }
    }
}

