@layer utilities {
    .cover {
        flex: 1;
        display: flex; 
        justify-content: center;
    }

    @media (min-width: 48em){
        .cover {
            align-items: center;
        }
    }
}