@layer utilities {
    .stack > * + * {
        margin-block-start: var(--stack-newsletter-content);
    }

    .stack-lg > * + * {
        margin-block-start: var(--stack-newsletter-information);
    }

    .stack-xs > * + * {
        margin-block-start: var(--stack-newsletter-list);
    }

    .stack-sm > * + * {
        margin-block-start: var(--stack-success-content);
    }

    .stack-xl > * + * {
        margin-block-start: var(--stack-success-button);
    }
}